svg {
  width: 300px;
  margin: 0 auto;
  overflow: hidden;
  transition: all 4s ease;
  animation: fly-owl 4s linear infinite reverse;

  #eyelids {
    animation: blink-eye 4s infinite;
  }
}

@keyframes fly-owl {
  0%,
  100% {
    transform: translateY(25px);
  }
  50% {
    transform: translateY(0px);
  }
}

@keyframes blink-eye {
  0%,
  90%,
  95%,
  100% {
    clip-path: ellipse(87% 63% at 48% -41%);
  }
  92.5%,
  97.5% {
    clip-path: ellipse(70% 70% at 43% 39%);
  }
}
