svg {
  width: 20rem;
  margin: 0 auto;
  overflow: hidden;
  -webkit-transition: all 4s ease;
  transition: all 4s ease;
  animation: fly-owl 4s linear infinite reverse;
}

svg #eyelids {
  -webkit-animation: blink-eye 4s infinite;
          animation: blink-eye 4s infinite;
}

svg #right-wing {
  -webkit-animation: flap-right-wing 2s infinite;
          animation: flap-right-wing 2s infinite;
  -webkit-transform-origin: 47% -16%;
          transform-origin: 47% -16%;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(16deg);
            transform: rotate(16deg);
  }
  20% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  30% {
    -webkit-transform: rotate(16deg);
            transform: rotate(16deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(16deg);
            transform: rotate(16deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  10% {
    -webkit-transform: rotate(16deg);
            transform: rotate(16deg);
  }
  20% {
    -webkit-transform: rotate(-6deg);
            transform: rotate(-6deg);
  }
  30% {
    -webkit-transform: rotate(16deg);
            transform: rotate(16deg);
  }
  40% {
    -webkit-transform: rotate(-4deg);
            transform: rotate(-4deg);
  }
  50% {
    -webkit-transform: rotate(16deg);
            transform: rotate(16deg);
  }
  60% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes fly-owl {
  0%,
  100% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fly-owl {
  0%,
  100% {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
  50% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes blink-eye {
  0%,
  90%,
  95%,
  100% {
    -webkit-clip-path: ellipse(92% 60% at 34% -34%);
            clip-path: ellipse(92% 60% at 34% -34%);
  }
  92.5%,
  97.5% {
    -webkit-clip-path: ellipse(70% 70% at 43% 39%);
            clip-path: ellipse(70% 70% at 43% 39%);
  }
}

@keyframes blink-eye {
  0%,
  90%,
  95%,
  100% {
    -webkit-clip-path: ellipse(92% 60% at 34% -34%);
            clip-path: ellipse(92% 60% at 34% -34%);
  }
  92.5%,
  97.5% {
    -webkit-clip-path: ellipse(70% 70% at 43% 39%);
            clip-path: ellipse(70% 70% at 43% 39%);
  }
}

@-webkit-keyframes flap-right-wing {
  0%,
  50%,
  100% {
    -webkit-transform: rotate(0deg) translateX(-2.9rem) skew(4deg, 1deg);
            transform: rotate(0deg) translateX(-2.9rem) skew(4deg, 1deg);
  }
  25%,
  75% {
    -webkit-transform: rotate(-10deg) translateX(-6.9rem) skew(0deg, 1deg);
            transform: rotate(-10deg) translateX(-6.9rem) skew(0deg, 1deg);
  }
}

@keyframes flap-right-wing {
  0%,
  50%,
  100% {
    -webkit-transform: rotate(0deg) translateX(-2.9rem) skew(4deg, 1deg);
            transform: rotate(0deg) translateX(-2.9rem) skew(4deg, 1deg);
  }
  25%,
  75% {
    -webkit-transform: rotate(-10deg) translateX(-6.9rem) skew(0deg, 1deg);
            transform: rotate(-10deg) translateX(-6.9rem) skew(0deg, 1deg);
  }
}
/*# sourceMappingURL=style.css.map */