body {
  margin: 0;
  position: relative;
}

svg {
  pointer-events: none;
  position: absolute;
  background-position: contain;
  left: 28rem;
  top: 20rem;
  width: 6.5rem;
  z-index: 1060;
  visibility: hidden;
}

svg.showing {
  visibility: visible;
  animation: scaleDown 0.5s 1 forwards, fly-fixed 3.5s linear infinite reverse;
}

svg.showing #letter-wing {
  visibility: visible;
}

svg.showing #right-wing {
  visibility: hidden;
}

svg.spaceOutUp {
  visibility: visible;
  -webkit-animation: spaceOutUp 1.5s 1 forwards;
          animation: spaceOutUp 1.5s 1 forwards;
}

svg.flying {
  visibility: visible;
  -webkit-animation: fly 3500ms linear forwards;
          animation: fly 3500ms linear forwards;
}

svg.flying #letter-wing {
  visibility: hidden;
}

svg.flying #right-wing {
  visibility: visible;
}

svg #eyelid {
  -webkit-animation: blink-eye 4s infinite;
          animation: blink-eye 4s infinite;
}

svg #left-wing {
  -webkit-transform-origin: 46% -33%;
          transform-origin: 46% -33%;
  -webkit-animation: wingLeft 1000ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite alternate;
          animation: wingLeft 1000ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite alternate;
}

svg #right-wing {
  -webkit-transform-origin: 46% -33%;
          transform-origin: 46% -33%;
  -webkit-animation: wingRight 1000ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite alternate;
          animation: wingRight 1000ms cubic-bezier(0.545, 0.08, 0.52, 0.975) infinite alternate;
}

@-webkit-keyframes spaceOutUp {
  0% {
    opacity: 1;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: perspective(800px) rotateY(0deg) translateZ(0px);
            transform: perspective(800px) rotateY(0deg) translateZ(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-transform: perspective(800px) rotateY(-180deg) translateZ(300px);
            transform: perspective(800px) rotateY(-180deg) translateZ(300px);
  }
}

@keyframes spaceOutUp {
  0% {
    opacity: 1;
    -webkit-transform-origin: 0 0;
            transform-origin: 0 0;
    -webkit-transform: perspective(800px) rotateY(0deg) translateZ(0px);
            transform: perspective(800px) rotateY(0deg) translateZ(0px);
  }
  100% {
    opacity: 0;
    -webkit-transform-origin: 50% 0;
            transform-origin: 50% 0;
    -webkit-transform: perspective(800px) rotateY(-180deg) translateZ(300px);
            transform: perspective(800px) rotateY(-180deg) translateZ(300px);
  }
}

@-webkit-keyframes scaleDown {
  0% {
    top: 0%;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0;
  }
  100% {
    top: 15%;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@keyframes scaleDown {
  0% {
    top: 0%;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0;
  }
  100% {
    top: 15%;
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}

@-webkit-keyframes fly {
  0% {
    width: 6.5rem;
    left: 32.5%;
    top: 15%;
    opacity: 1;
  }
  80% {
    left: 15.5%;
    top: -8%;
    opacity: 1;
    width: 6.5rem;
  }
  100% {
    left: 15.5%;
    width: 3rem;
    top: -13%;
    opacity: 0;
  }
}

@keyframes fly {
  0% {
    width: 6.5rem;
    left: 32.5%;
    top: 15%;
    opacity: 1;
  }
  80% {
    left: 15.5%;
    top: -8%;
    opacity: 1;
    width: 6.5rem;
  }
  100% {
    left: 15.5%;
    width: 3rem;
    top: -13%;
    opacity: 0;
  }
}

@-webkit-keyframes fly-fixed {
  0%,
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@keyframes fly-fixed {
  0%,
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
}

@-webkit-keyframes fade {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
}

@keyframes fade {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
  }
}

@-webkit-keyframes wingLeft {
  0% {
    -webkit-transform: rotateY(-40deg);
            transform: rotateY(-40deg);
    transform: rotateY(-40deg);
  }
  100% {
    -webkit-transform: rotateY(40deg);
            transform: rotateY(40deg);
    transform: rotateY(40deg);
  }
}

@keyframes wingLeft {
  0% {
    -webkit-transform: rotateY(-40deg);
            transform: rotateY(-40deg);
    transform: rotateY(-40deg);
  }
  100% {
    -webkit-transform: rotateY(40deg);
            transform: rotateY(40deg);
    transform: rotateY(40deg);
  }
}

@-webkit-keyframes wingRight {
  0% {
    -webkit-transform: rotateY(40deg);
            transform: rotateY(40deg);
  }
  100% {
    -webkit-transform: rotateY(-40deg);
            transform: rotateY(-40deg);
  }
}

@keyframes wingRight {
  0% {
    -webkit-transform: rotateY(40deg);
            transform: rotateY(40deg);
  }
  100% {
    -webkit-transform: rotateY(-40deg);
            transform: rotateY(-40deg);
  }
}

@-webkit-keyframes blink-eye {
  0%,
  90%,
  95%,
  100% {
    -webkit-clip-path: ellipse(83% 54% at 48% -41%);
            clip-path: ellipse(83% 54% at 48% -41%);
  }
  92.5%,
  97.5% {
    -webkit-clip-path: ellipse(70% 70% at 43% 39%);
            clip-path: ellipse(70% 70% at 43% 39%);
  }
}

@keyframes blink-eye {
  0%,
  90%,
  95%,
  100% {
    -webkit-clip-path: ellipse(83% 54% at 48% -41%);
            clip-path: ellipse(83% 54% at 48% -41%);
  }
  92.5%,
  97.5% {
    -webkit-clip-path: ellipse(70% 70% at 43% 39%);
            clip-path: ellipse(70% 70% at 43% 39%);
  }
}

@-webkit-keyframes flap-left-wing {
  0%,
  50%,
  100% {
    -webkit-transform: rotate(6deg) translateX(2.3rem) skew(3deg, 351deg);
            transform: rotate(6deg) translateX(2.3rem) skew(3deg, 351deg);
  }
  25%,
  75% {
    -webkit-transform: rotate(11deg) translateX(7rem) skew(0deg, 356deg);
            transform: rotate(11deg) translateX(7rem) skew(0deg, 356deg);
  }
}

@keyframes flap-left-wing {
  0%,
  50%,
  100% {
    -webkit-transform: rotate(6deg) translateX(2.3rem) skew(3deg, 351deg);
            transform: rotate(6deg) translateX(2.3rem) skew(3deg, 351deg);
  }
  25%,
  75% {
    -webkit-transform: rotate(11deg) translateX(7rem) skew(0deg, 356deg);
            transform: rotate(11deg) translateX(7rem) skew(0deg, 356deg);
  }
}

@-webkit-keyframes flap-right-wing {
  0%,
  50%,
  100% {
    -webkit-transform: rotate(0deg) translateX(-1.5rem) skew(4deg, 1deg);
            transform: rotate(0deg) translateX(-1.5rem) skew(4deg, 1deg);
  }
  25%,
  75% {
    -webkit-transform: rotate(-10deg) translateX(-4rem) skew(0deg, 1deg);
            transform: rotate(-10deg) translateX(-4rem) skew(0deg, 1deg);
  }
}

@keyframes flap-right-wing {
  0%,
  50%,
  100% {
    -webkit-transform: rotate(0deg) translateX(-1.5rem) skew(4deg, 1deg);
            transform: rotate(0deg) translateX(-1.5rem) skew(4deg, 1deg);
  }
  25%,
  75% {
    -webkit-transform: rotate(-10deg) translateX(-4rem) skew(0deg, 1deg);
            transform: rotate(-10deg) translateX(-4rem) skew(0deg, 1deg);
  }
}
/*# sourceMappingURL=style.css.map */